<!DOCTYPE html>
<html>
<%- include('../views/head'); %>
  <body>
  <%- include('../views/navbar'); %>
    <div class="main-app">
      <div class="container">
        <div class="card-group p-3">
          <div class=" card text-white bg-secondary col-sm-12 col-xl-4 p-3">
            <h4>Total Cases:</h4> <span id="total-cases"></span>
          </div>
          <div class="card text-white bg-danger col-sm-12 col-xl-4 p-3">
            <h4>Total Deaths:</h4> <span id="total-deaths"></span>
          </div>
          <div class="card text-white bg-success col-sm-12 col-xl-4 p-3">
            <h4>Total Recovered:</h4> <span id="total-recovered"></span>
          </div>
        </div>
        <div class="p-3">
          <div class="dropdown">
            <button data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-secondary dropdown-toggle">Select Country </button>
            <div id="myDropdown" class="dropdown-menu dropdown-menu-dark">
              <input type="text" placeholder="Search.." id="searchCountryInput" onkeyup="filterFunction()">
              <div id="countryList"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="all-countries" class="card-group p-3"></div>
  <footer class="text-muted">
    <div class="container">

      <p class="float-end p-5">
        ©2021 Tan Yi Ming
      </p>
    </div>
  </footer>
  </body>
</html>
