<!DOCTYPE html>
<html>
<%- include('../views/head'); %>
<body>
<%- include('../views/navbar'); %>
<div class="main-app">
    <div class="container">
        <h1 class="text-white"><%= country %></h1>
    </div>
</div>
</body>
</html>
