<%- include('../views/head'); %>
<%- include('../views/navbar'); %>
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYgrRHpz31f3ACCJkufRe3EM40GE1k3FA&callback=initMap"
        type="text/javascript"></script>